<div id="agencies14">
  <!-- boostrap here -->
<div class="container-fluid padding">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
        <a routerLink="/Agencies">
          <div class="wrapper">
            <div class="img-container">
              <img src="assets/adult-business-career-209234.jpg" alt="">
            </div>
            <div class="content">
              <h5> Link to our Temp Jobs</h5>
              <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
            </div>
  
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
        <div class="applyAgency1Container"> 
          <div class="applyAgency1Header">
            <div class="applyAgency1WithLogo">
              <div class="imgAgency1">
                <img id="imgAgency1" src="../../assets/fungirls.jpg">
              </div>
              <div class="agency1JobInfo">
                Job Agency Information here adress 4445454 alt way. new england homies!
              </div>

            </div>
        </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
        <a routerLink="/Welfare">
          <div class="wrapper">
            <div class="img-container">
              <img src="assets/adult-business-career-209234.jpg" alt="">
            </div>
            <div class="content">
              <h5> Link to our Temp Jobs</h5>
              <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
            </div>
  
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
        <a routerLink="">
          <div class="wrapper">
            <div class="img-container">
              <img src="assets/adult-business-career-209234.jpg" alt="">
            </div>
            <div class="content">
              <h5> Link to our Temp Jobs</h5>
              <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
            </div>
  
          </div>
        </a>
      </div>
  
  
    </div>
  </div>
</div>