<div id="agencies14">
  <!-- boostrap here -->
<div class="container-fluid padding">
    <h1> Food Industry Jobs and Trainings</h1>
    <h1> These links will send you outisde our website</h1>
   <hr>
    <div class="row">
    
      <!-- seperating top resources from bottom resources-->
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
            <div class="img-container">
              <img src="assets/BlackedOutHousing.png" alt="">
            </div>
            <div class="content">
              <h5>Cypress Park Community Job Center</h5>
              <hr>
              <p>(323) 223-2021 </p>
              <p>2055 N. Figueroa St, Los Angeles, CA 90065</p>
              <p>Office Hours: Monday- Friday 6 a.m - 5 p.m </p>
              <a routerLink="">
                <p> http://idepsca.org/daylabor
                </p>
              </a>
            </div>
  
          </div>
        
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
            <div class="img-container">
              <img src="assets/BlackedOutHousing.png" alt="">
            </div>
            <div class="content">
              <h5>Section 8 Boyle Heights</h5>
              <hr>
              <p>323-765-8784 </p>
              <p>4454 Twentyone Ave, Los angeles CA</p>
              <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
              <a routerLink="">
                <p> jose the lok
                </p>
              </a>
            </div>
  
          </div>
        
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
            <div class="img-container">
              <img src="assets/BlackedOutHousing.png" alt="">
            </div>
            <div class="content">
              <h5>Section 8 Boyle Heights</h5>
              <hr>
              <p>323-765-8784 </p>
              <p>4454 Twentyone Ave, Los angeles CA</p>
              <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
              <a routerLink="">
                <p> jose the lok
                </p>
              </a>
            </div>
  
          </div>
        
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
            <div class="img-container">
              <img src="assets/BlackedOutHousing.png" alt="">
            </div>
            <div class="content">
              <h5>Boyle Heights Worksource</h5>
              <hr>
              <p>(323) 267-5930 </p>
              <p>1505 E 1st, Los Angeles CA 90033</p>
              <p>Office Hours: Monday- Friday 8 a.m - 5 p.m </p>
              <a routerLink="">
                <p> ADD LINK!!!
                </p>
              </a>
            </div>
  
          </div>
        
      </div>
      </div>
  
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
      <div class="wrapper">
          <div class="img-container">
            <img src="assets/adult-braided-hair-cell-phone-209719.jpg" alt="">
          </div>
          <div class="content">
            <h5>Tri-State Staffing</h5>
            <hr>
            <p>(323) 264-6106 </p>
            <p>2555 E Olympic Blvd, Los Angeles CA 90023 </p>
            <p>Office Hours: ADD HOURS!!</p>
            <a routerLink="">
              <p> ADD LINK!!!</p>
            </a>
          </div>

        </div>
      
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adults-airport-architecture-518244.jpg" alt="">
          </div>
          <div class="content">
            <h5>Select Staffing</h5>
            <hr>
            <p>(213) 408-0262</p>
            <p>1730 W Olympic Blvd #100, Los Angeles CA 90015</p>
            <p>Office Hours: ADD HOURS!!</p>
            <a routerLink="">
              <p> ADD LINK!!</p>
            </a>
          </div>

        </div>
     
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adults-business-chicken-680302.jpg" alt="">
          </div>
          <div class="content">
            <h5>Chrysalis</h5>
            <hr>
            <p>(213) 806-6300</p>
            <p>522 S Main St, Los Angeles CA 90013</p>
            <p>Office Hours: ADD HOURS!!</p>
            <a routerLink="">
              <p> ADD LINK!!</p>
            </a>
          </div>

        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/apartment-architecture-blur-735319.jpg" alt="">
          </div>
          <div class="content">
            <h5> Link to Low income Housing.</h5>
            <hr>
            <p> Listed here will be links to low income housing. </p>
          </div>

        </div>
    </div>
  </div>
  </div>
</div>