#colorChangeContactUs {
    background-color: brown;
    border-style: double;
    border-width: 7px;
}
#contactBox {
    margin-left: 10px;
}
.colorText52 {
    background-color: black;
    color: white;
}
#textArea51 {
    background-color: black;
    color: white;
}