<div id="contactBox">
  <h2>Welcome to ExportApp!</h2>
<form id="customerComplaint1" #customerComplaint1="ngForm" (ngSubmit)="login()">
  First name:
  <br>
  <input type="text" name="firstName" [(ngModel)]="user.firstName" required>
  <br> Last name:
  <br>
  <input type="text" name="lastName" [(ngModel)]="user.lastName" required>


  <div>
    <input type="radio" name="NewUser" value="male" checked> New User
    <br>
    <input type="radio" name="NewUser" value="female"> Existing User
    <br>
    <button>Submit</button>
  </div>
 <p> {{user.firstName}}</p> 
</form>


  <div id="box15">

    <h2>Are you having any issues today!?</h2>
    <input type="radio" name="NewUser" value="male" checked>Having login trouble?
    <br>
    <input type="radio" name="NewUser" value="female">Having technical trouble?
    <br>
    <input type="radio" name="NewUser" value="male" checked>Blocking and reporting user (s) ?
    <br>
    <input type="radio" name="NewUser" value="female"> Have any ideas of how we can improve?
    <br>
    <button>Submit</button>

  </div>


  <div id="box17">

    <h2>Pease briefly describe.</h2>
    <textarea name="paragraph_text" cols="50" rows="10"></textarea>


    <button>Submit</button>

  </div>


</div>
