#agencies14 {
    min-height: 100vh;
    width: 100%;

}
.padding2{
    padding-top: 15px;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;

}
.superHeader {
    padding: 5px;
}
h5 {
    font-family: "Times New Roman", Times, serif;
}
p {
    font-style: italic;
}

.wrapper1{
    height: 350px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
}
.wrapper{
    height: 350px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
}

.img-container1{
    height: 350px;
    overflow: hidden;
    display: flex;
    align-content: space-around;
    
}
.img-container{
    height: 200px;
    width:100%;
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.padding{
    padding-top: 75px;
    padding-bottom: 50px;
}