<div id="freeStuff1">
  <div class="freestuff2">
    <h3>
      Free Food
    </h3>
    <p>
      Adress: 444 avenue way
      <br>Date and Time: Saturday 10am-3pm
      <br> Sunday 10am-4pm
      <br>Contact: 444-444-4444
    </p>

  </div>
 
  <div id="box15">
    <h3>Rate Your Visit</h3>
    <form id="submitRate" (ngSubmit)="onClickMe()">
      <input type="radio" id="Awful" name="Rater" value="1" (click)="isChecked()">My visit was awful
      <br>
      <input type="radio" id="Bad" name="Rater" value="2" (click)="isChecked2()">My visit was bad
      <br>
      <input type="radio" id="Good" name="Rater" value="3" (click)="isChecked3()">My visit was good
      <br>
      <input type="radio" id="Excellent" name="Rater" value="4" (click)="isChecked4()">My visit was excellent
      <br>
      <button id="rateButton">Submit</button>
      {{this.division}}
      <div class="lineContainer">
      <div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line lineRightEnd"></div>
        <div class="numberContainer"><div class="numberLeftEnd"></div><div class="number">0</div><div class="number">1</div><div class="number">2</div><div class="number">3</div><div class="number">4</div>
        </div>
      </div>
    </form>
  </div>
 <img id="image102" src="../../assets/imageholder.jpg">
</div>