<div id="agencies14">
  <!-- boostrap here -->
<div class="container-fluid padding">
    <h1> Hospitality Industry Jobs and Trainings</h1>
    <div class="row">
    
      <!-- seperating top resources from bottom resources-->
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/adult-braided-hair-cell-phone-209719.jpg" alt="">
              </div>
              <div class="content">
                <h6>Los Angeles Hospitality Training Academy </h6>
                <p>130 S. Alvarado St. Los Angeles, CA 90057</p>
                <p>P. (323) 887-7122</p>
                <p>Office Hours: Monday-Friday 8 a.m-5 p.m</p>
                <a routerLink="/">
                  <p> www.rescare.com/workforceservices</p>
                </a>
              </div>
    
            </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
            <div class="wrapper">
              <div class="img-container">
                <img src="assets/adults-airport-architecture-518244.jpg" alt="">
              </div>
              <div class="content">
                <h6> Link to Hospitality trainings.</h6>
                <p> Listed here will be vocational training in hospitality. </p>
              </div>
    
            </div>
         
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
            <div class="wrapper">
              <div class="img-container">
                <img src="assets/adults-business-chicken-680302.jpg" alt="">
              </div>
              <div class="content">
                <h6> Link to Food Handler Training.</h6>
                <p> Listed here will be vocational training in food handling. </p>
              </div>
    
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
            <div class="wrapper">
              <div class="img-container">
                <img src="assets/apartment-architecture-blur-735319.jpg" alt="">
              </div>
              <div class="content">
                <h6> Link to Low income Housing.</h6>
                <p> Listed here will be links to low income housing. </p>
              </div>
    
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
              <div class="wrapper">
                <div class="img-container">
                  <img src="assets/adult-braided-hair-cell-phone-209719.jpg" alt="">
                </div>
                <div class="content">
                  <h6> Link to our Temp Jobs</h6>
                  <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
                </div>
      
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
              <div class="wrapper">
                <div class="img-container">
                  <img src="assets/adults-airport-architecture-518244.jpg" alt="">
                </div>
                <div class="content">
                  <h6> Link to Hospitality trainings.</h6>
                  <p> Listed here will be vocational training in hospitality. </p>
                </div>
      
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
              <div class="wrapper">
                <div class="img-container">
                  <img src="assets/adults-business-chicken-680302.jpg" alt="">
                </div>
                <div class="content">
                  <h6> Link to Food Handler Training.</h6>
                  <p> Listed here will be vocational training in food handling. </p>
                </div>
      
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
              <div class="wrapper">
                <div class="img-container">
                  <img src="assets/apartment-architecture-blur-735319.jpg" alt="">
                </div>
                <div class="content">
                  <h6> Link to Low income Housing.</h6>
                  <p> Listed here will be links to low income housing. </p>
                </div>
      
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
                <div class="wrapper">
                  <div class="img-container">
                    <img src="assets/adult-braided-hair-cell-phone-209719.jpg" alt="">
                  </div>
                  <div class="content">
                    <h6> Link to our Temp Jobs</h6>
                    <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
                  </div>
        
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
                <div class="wrapper">
                  <div class="img-container">
                    <img src="assets/adults-airport-architecture-518244.jpg" alt="">
                  </div>
                  <div class="content">
                    <h6> Link to Hospitality trainings.</h6>
                    <p> Listed here will be vocational training in hospitality. </p>
                  </div>
        
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
                <div class="wrapper">
                  <div class="img-container">
                    <img src="assets/adults-business-chicken-680302.jpg" alt="">
                  </div>
                  <div class="content">
                    <h6> Link to Food Handler Training.</h6>
                    <p> Listed here will be vocational training in food handling. </p>
                  </div>
        
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
                <div class="wrapper">
                  <div class="img-container">
                    <img src="assets/apartment-architecture-blur-735319.jpg" alt="">
                  </div>
                  <div class="content">
                    <h6> Link to Low income Housing.</h6>
                    <p> Listed here will be links to low income housing. </p>
                  </div>
        
                </div>
            </div>
            </div>
  <hr>
  <h1> These links will send you outisde our website</h1>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
      <div class="wrapper">
          <div class="img-container">
            <img src="assets/adult-braided-hair-cell-phone-209719.jpg" alt="">
          </div>
          <div class="content">
            <h6> Link to our Temp Jobs</h6>
            <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
          </div>

        </div>
      
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adults-airport-architecture-518244.jpg" alt="">
          </div>
          <div class="content">
            <h6> Link to Hospitality trainings.</h6>
            <p> Listed here will be vocational training in hospitality. </p>
          </div>

        </div>
     
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adults-business-chicken-680302.jpg" alt="">
          </div>
          <div class="content">
            <h6> Link to Food Handler Training.</h6>
            <p> Listed here will be vocational training in food handling. </p>
          </div>

        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/apartment-architecture-blur-735319.jpg" alt="">
          </div>
          <div class="content">
            <h6> Link to Low income Housing.</h6>
            <p> Listed here will be links to low income housing. </p>
          </div>

        </div>
    </div>
  </div>
  </div>
</div>