<nav class="navbar navbar-expand-lg profile-bar">
    <a class="navbar-brand" href="#">
        <img src="../assets/latinaLuckLogo1200.png" id=" logo " style="height:50px">
    </a>

    <div class="navlinkCenter">
            <a id="homeLink" routerLink="/Home" routerLinkActive="active">Home </a>
            <a id="contactLink" routerLink="/Contact">Contact </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


</nav>
<router-outlet></router-outlet>


<footer>
    <div id="foot1">
        <div class="theBox2">
            <div class="txtBox2">

                <h5> Jose Colmenares</h5>
                <h5> Colmenje2638@gmail.com</h5>
                <h5> 323-399-9008 </h5>

            </div>
        </div>
    </div>
</footer>