nav {
    height:75px;
}
.profile-bar {
    height:75px;
    background-color: black;
}
.heading {
    color: white;
    margin-left: 330px;
    
    
}
#logo {
    height:40px;
}
#navbarSupportedContent {
    margin-right: 90px;
}
#profile-photo {
    height:70px;
    width: 90px;
}

#text1{
    margin-left: 940px;
}
#foot1 { 
    border-width: 6px;

}

  .theBox2{
        height: 125px;  
        position: relative;
        background-color: black;  
        background-color: black;
        background-size: 1000px 200px;
        bottom: 0; 
        left:0px;
        color: whitesmoke;
        text-align: center;



    }

    #image1 {
        background-size: 30px 50px;
        margin-left: 600px;
        width: 120px;
        height: 120px;
    }
.navlinkCenter{
    margin-left: auto;
   
}
#homeLink {
   color:white;
   padding:15px;
   
}
#contactLink {
 
    color:white;
}
  

    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px !important;
        overflow: hidden;
        z-index: 999999;
    }