<div id="housing1">
  <h3>
    Housing
  </h3>
  <p>
    Homeless Shelters for Parenting Mothers
    <br>Adress: 666 super way
    <br>Contact number: 999-000-0000
  </p>
  <div id="box15">
    <h3>Rate Your Visit</h3>
    <input type="radio" name="NewUser" value="male" checked>Having login trouble?
    <br>
    <input type="radio" name="NewUser" value="female">Having technical trouble?
    <br>
    <input type="radio" name="NewUser" value="male" checked>Blocking and reporting user (s) ?
    <br>
    <input type="radio" name="NewUser" value="female"> Have any ideas of how we can improve?
    <br>
    <button>Submit</button>

  </div>
  <h3>
    Concerts
  </h3>
  <p>
    Convention Center
    <br>Adress: 666 super way
    <br>Contact number: 999-000-0000
  </p>
  <div id="box15">
    <h3>Rate Your Visit</h3>
    <input type="radio" name="NewUser" value="male" checked>Having login trouble?
    <br>
    <input type="radio" name="NewUser" value="female">Having technical trouble?
    <br>
    <input type="radio" name="NewUser" value="male" checked>Blocking and reporting user (s) ?
    <br>
    <input type="radio" name="NewUser" value="female"> Have any ideas of how we can improve?
    <br>
    <button>Submit</button>

  </div>
  <h3>
    Concerts
  </h3>
  <p>
    Convention Center
    <br>Adress: 666 super way
    <br>Contact number: 999-000-0000
  </p>
  <div id="box15">
    <h3>Rate Your Visit</h3>
    <input type="radio" name="NewUser" value="male" checked>Having login trouble?
    <br>
    <input type="radio" name="NewUser" value="female">Having technical trouble?
    <br>
    <input type="radio" name="NewUser" value="male" checked>Blocking and reporting user (s) ?
    <br>
    <input type="radio" name="NewUser" value="female"> Have any ideas of how we can improve?
    <br>
    <button>Submit</button>

  </div>
  <h3>
    Concerts
  </h3>
  <p>
    Convention Center
    <br>Adress: 666 super way
    <br>Contact number: 999-000-0000
  </p>
  <div id="box15">
    <h3>Rate Your Visit</h3>
    <input type="radio" name="NewUser" value="male" checked>Having login trouble?
    <br>
    <input type="radio" name="NewUser" value="female">Having technical trouble?
    <br>
    <input type="radio" name="NewUser" value="male" checked>Blocking and reporting user (s) ?
    <br>
    <input type="radio" name="NewUser" value="female"> Have any ideas of how we can improve?
    <br>
    <button>Submit</button>

  </div>
  <h3>
    Concerts
  </h3>
  <p>
    Convention Center
    <br>Adress: 666 super way
    <br>Contact number: 999-000-0000
  </p>
  <div id="box15">
    <h3>Rate Your Visit</h3>
    <input type="radio" name="NewUser" value="male" checked>Having login trouble?
    <br>
    <input type="radio" name="NewUser" value="female">Having technical trouble?
    <br>
    <input type="radio" name="NewUser" value="male" checked>Blocking and reporting user (s) ?
    <br>
    <input type="radio" name="NewUser" value="female"> Have any ideas of how we can improve?
    <br>
    <button>Submit</button>

  </div>
</div>