<div id="agencies14">
  <!-- boostrap here -->
<div class="container-fluid padding">
    <h1> Low Income Housing and Welfare Services</h1>
        <h1> These links will send you outisde our website</h1>
        <hr>
    <div class="row">
    
      <!-- seperating top resources from bottom resources-->
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/apartments-architecture-balcony-273683.jpg" alt="">
              </div>
              <div class="content">
                <h5>U.S Department of Housing and Urban Development</h5>
                <hr>
                <p>(213) 894-8000 </p>
                <p>300 N. Los Angeles St. Los Angeles, CA 90012</p>
                <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
                <a routerLink="">
                  <p> http://localhost:4200/Housing
                  </p>
                </a>
              </div>
    
            </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/apartment-architecture-balcony-280212.jpg" alt="">
              </div>
              <div class="content">
                <h5>Housing Authority of the City of Los Angeles</h5>
                <hr>
                <p>(213) 252-2514 </p>
                <p>2600 Wilshire Blvd. Los Angeles, CA 90057</p>
                <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
                <a routerLink="">
                  <p> x
                  </p>
                </a>
              </div>
    
            </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/BlackedOutHousing.png" alt="">
              </div>
              <div class="content">
                <h5>Skid Row Housing Trust</h5>
                <hr>
                <p>(213) 683-0522</p>
                <p>1317 E. 7th St. Los Angeles, CA 90021</p>
                <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
                <a routerLink="">
                  <p> x
                  </p>
                </a>
              </div>
    
            </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/apartment-cabinet-contemporary-1027508.jpg" alt="">
              </div>
              <div class="content">
                <h5>LA Family Housing</h5>
                <hr>
                <p>(818) 982-4091 </p>
                <p>7843 Lankershim Boulevard, North Hollywood CA 91605</p>
                <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
                <a routerLink="">
                  <p> x
                  </p>
                </a>
              </div>
    
            </div>
          
        </div>
        </div>
        
        <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/adult-apartment-beautiful-923282.jpg" alt="">
              </div>
              <div class="content">
                <h5>Pico Union Housing Corp.</h5>
                <hr>
                <p>(000) 000-0000 </p>
                <p>1038 Venice Blvd. Los Angeles, CA 90015</p>
                <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
                <a routerLink="">
                  <p> x
                  </p>
                </a>
              </div>
    
            </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/BlackedOutHousing.png" alt="">
              </div>
              <div class="content">
                <h5>Zahn Memorial Center Salvation Army</h5>
                <hr>
                <p>(213) 438-1617 </p>
                <p>832 W. James M. Wood Blvd. Los ANgeles, CA 90015</p>
                <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
                <a routerLink="">
                  <p> x
                  </p>
                </a>
              </div>
    
            </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/BlackedOutHousing.png" alt="">
              </div>
              <div class="content">
                <h5>Salvation Army</h5>
                <hr>
                <p>(562) 264-3600 </p>
                <p>180 East Ocean Blvd Suite 200 Long Beach, CA 90802</p>
                <p>Office Hours: Monday- Friday 8 a.m - 4 p.m </p>
                <a routerLink="">
                  <p> x
                  </p>
                </a>
              </div>
    
            </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 padding2">
          <div class="wrapper">
              <div class="img-container">
                <img src="assets/BlackedOutHousing.png" alt="">
              </div>
              <div class="content">
                <h5>Abode Communities</h5>
                <hr>
                <p>(213) 629-2702 </p>
                <p>1149 S. Hill St. Suite 700 Los Angeles, CA 90015</p>
                <p>Office Hours: Monday- Friday 7:30 a.m - 5 p.m </p>
                <a routerLink="">
                  <p> x
                  </p>
                </a>
              </div>
    
            </div>
          
        </div>
  </div>
  </div>
</div>