<div id="four20Thousand">
  <div class="overlay">
    <h1> Serving Latina Mothers in Los Angeles.</h1>
    <h2> Assisting with job resources, housing resources, in a safe online community!</h2>
  </div>
</div>
<div id="description12">
  <h2> Below are some categories of Jobs and training available by class. </h2>
</div>

<!-- boostrap here -->
<div class="container-fluid padding">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
      <a routerLink="/Agencies">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adult-business-career-209234.jpg" alt="">
          </div>
          <div class="content">
            <h5> Link to our Temp Jobs</h5>
            <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
          </div>

        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
      <a routerLink="/Housing">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adult-business-career-209234.jpg" alt="">
          </div>
          <div class="content">
            <h5> Link to our Temp Jobs</h5>
            <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
          </div>

        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
      <a routerLink="/Welfare">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adult-business-career-209234.jpg" alt="">
          </div>
          <div class="content">
            <h5> Link to our Temp Jobs</h5>
            <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
          </div>

        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
      <a routerLink="">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adult-business-career-209234.jpg" alt="">
          </div>
          <div class="content">
            <h5> Link to our Temp Jobs</h5>
            <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
          </div>

        </div>
      </a>
    </div>


  </div>
</div>