<ngb-carousel style="height:300px" class="carousel">
  <ng-template ngbSlide>
    <div id="slide1">
      <div>
      <h3 class="h3"> Housing</h3>
      <p>Link to our Housing Information</p>
    </div>
    <a routerLink="/Slide4">Click on me to Change</a>
    </div>


  </ng-template>
  <ng-template ngbSlide>
    <div id="slide2">
      <div>
        <h3 class="h32">Jobs</h3>
        <p>Link to our Jobs Page!! </p>
      </div>
      <a routerLink="/Slide3">Click on me to Change</a>
      

     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div id="slide3">
      <div>
        <h3 class="h33">Free Stuff!!!</h3>
        <p>Link to our Free Stuff!! </p>
      </div>
      <a routerLink="/Slide5">Click on me to Change</a>
     
    </div>
  </ng-template>
</ngb-carousel>
<div id="box1">
  <input id="text1" type="text" placeholder="search">
  <button id="button1" type="button" data-inline="true">Enter</button>
</div>