<div id="four20Thousand">
  <div class="overlay">
    <h1> Serving Latina Mothers in Los Angeles.</h1>
    <h2> Assisting with job resources and housing resources, on a safe online community!</h2>
  </div>
</div>
<div id="description12">
  <h2> Below are some categories of Jobs and Trainings available. </h2>
</div>

<!-- boostrap here -->
<div class="container-fluid padding">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
      <a routerLink="/Agencies">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adult-braided-hair-cell-phone-209719.jpg" alt="">
          </div>
          <div class="content">
            <h5> Temporary Employment</h5>
            <hr>
            <p> Listed here will be job leads backed up by temporary hiring job agencies. </p>
            
          </div>

        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
      <a routerLink="/HospitalityTraining">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adults-airport-architecture-518244.jpg" alt="">
          </div>
          <div class="content">
            <h5> Hospitality trainings</h5>
            <hr>
            <p> Listed here will be vocational training in hospitality. </p>
          </div>

        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
      <a routerLink="/FoodHandler">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/adults-business-chicken-680302.jpg" alt="">
          </div>
          <div class="content">
            <h5> Food Handler Training</h5>
            <hr>
            <p> Listed here will be vocational training in food handling. </p>
          </div>

        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
      <a routerLink="/Housing">
        <div class="wrapper">
          <div class="img-container">
            <img src="assets/apartment-architecture-blur-735319.jpg" alt="">
          </div>
          <div class="content">
            <h5> Low income Housing</h5>
            <hr>
            <p> Listed here will be links to low income housing. </p>
          </div>

        </div>
      </a>
    </div>


  </div>
</div>